.accueil {
    background: url(https://www.toute-la-franchise.com/images/zoom/vdlf/xl/29271.jpg) center/cover no-repeat; /* Définit un fond avec une image centrée et en mode "cover" */
    margin: 5px 0 0 0; 
    padding: 0;
    height: 77vh; /* Hauteur de 77% de la hauteur de la vue */
}

.accueil .accueil-info {
    display: flex; /* Définit le type d'affichage (flexible) */
    padding-top: 40px;
    flex-direction: column; /* Direction des éléments (en colonne) */
    align-items: center; /* Alignement des éléments sur l'axe transversal (centré horizontalement) */
}

.accueil .accueil-info img {
    margin-top: 50px;
    width: auto;
    height: 150px;
}

.accueil .accueil-info h1 {
    padding-top: 30px;
    margin: 0;
    color: green;
    font-weight: 900;
    font-size: 2em;
}

.accueil .accueil-info p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
}
