@mixin breakpoint($point) {
    @if $point == md {
        // 960px
        @media (min-width: 960px) {
            @content;
        }
    }
}
        
        .header {
            background: rgb(32, 32, 32);
            width: 100%;
            height: 100px;
            @include breakpoint(md) {
                padding: 0 0rem;
            }
            transition: 0.3s ease all;
        
            &__content {
                background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../assets/Cartajima.png) center/cover no-repeat ;
                overflow: hidden;
                color: #fff;
                margin: 0 auto;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position:fixed;
                width: 100%;
                z-index: 100;
        
                &__logo {
                    padding: 0 3rem;
                    font-size: 2rem;
                    font-weight: 900;
                    text-decoration: none;
                    color: #fff;
                }

                &__logo:hover {
                    color: greenyellow;
                }
        
                &__nav {
                    top: 0;
                    right: 100%;
                    bottom: 0;
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background: rgba(rgb(32, 32, 32), 0.9);
                    transform: translate(0);
                    transition: 0.3s ease transform;
                   
        
                    @include breakpoint(md) {
                        transform: none;
                        flex-direction: row;
                        background: transparent;
                        width: auto;
                        height: 100%;
                        position: static;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 32px;
                        @include breakpoint(md) {
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 0;
                            margin-right: calc(0.5rem + #{16px});
                        }
                        li {
                            &:not(:last-child) {
                                margin-bottom:32px;
                                @include breakpoint(md) {
                                    margin-bottom: 0;
                                    margin-right: 16px;
                                }
                            }
                            a {
                                text-decoration: none;
                                color: inherit;
                                padding: 0.75rem 0.25rem;
                                border-radius: 12px;
                                transition: 0.3s ease all;
                                font-size: 1.5vw;
                                &.active{
                                    border-radius: calc(#{12px} + 6px);
                                    background: linear-gradient(rgba(#bcec37, 0.3), rgba(#e6d70c, 0.5));
                                }
                                &:hover {
                                    background: rgba(#bd1d1d, 0.1);
                                }
                                
                            }
                        }
                    }
                    .btn {
                        cursor: pointer;
                        outline: none;
                        padding: 0.75rem 1.25rem;
                        border-radius: 12px;
                        font-size: 1rem;
                        font-family: inherit;
                        background: rgb(162, 162, 246);
                        color: rgb(32, 32, 32);
                        border: 1px solid transparent;
                        transition: 0.3s ease all;
                        margin:0.50em 0.50em;
                       
        
                        &:hover {
                            border-color: rgb(162, 162, 246);
                            background: rgba(rgb(162, 162, 246), 0.1);
                            color: rgb(162, 162, 246);
                        }
                        &:active {
                            border-color: rgb(162, 162, 246);
                            background: linear-gradient(rgba(rgb(162, 162, 246), 0.2), rgba(rgb(162, 162, 246), 0.3));
                            color: rgb(162, 162, 246);
                        }
                        &__login{
                            
                            background-color: rgb(32, 32, 32);
                            color:#fff;

                        }
                        
                    }

        
                    &.isMenu {
                        transform: translate(100%);
                    }
                }
        
                &__toggle {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    transition: 0.3s ease all;
                    position: relative;
                    padding-right: 15px;
        
                    &:hover {
                        color: rgb(162, 162, 246);
                    }
        
                    @include breakpoint(md) {
                        display: none;
                    }
                }
            }
        }
        

@media (max-width: 960px) {
    .header__content__nav ul li a {
        font-size: 22px;
        padding: 10px 20px;
    }
}